@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Delius", cursive;
  margin: 0;
}

a {
  color: black;
}

.homeachtergrond {
  background-image: url("../fotos/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.cafeachtergrond {
  background-image: url("../fotos/cafe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.bioachtergrond {
  background-image: url("../fotos/biologisch.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.topnav {
  padding: 5%;
  background-color: #FABCBB;
}
.topnav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #FABCBB;
}

.topnav a {
  padding: 5%;
  text-decoration: none;
}

.topnav a.active {
  background-color: #F9F6EE;
}

.introductie {
  margin-top: 50%;
  display: flex;
  align-items: center;
}

.bloguitleg {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  max-width: 50%;
}

.naamcafe {
  display: flex;
  justify-content: center;
}

.uitlegcafe {
  display: flex;
  justify-content: center;
}

.uitlegcafe p {
  margin-top: 0;
  margin-bottom: 35%;
  max-width: 40%;
  text-align: center;
}

.bioeten {
  display: flex;
  justify-content: center;
}

.biouitleg {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.biouitleg p {
  margin-top: 0;
  margin-bottom: 30%;
  max-width: 70%;
  text-align: center;
}

.gartinemoestuin {
  display: flex;
  justify-content: center;
}

.moestuinuitleg {
  display: flex;
  justify-content: center;
}

.moestuinuitleg p {
  margin-top: 0;
  max-width: 70%;
  margin-bottom: 30%;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FABCBB;
}

footer img {
  width: 20%;
}